body{
background-image: url("images/LightBg.jpg");
}
img{
    margin-left: 40%;
    width:20%;
}

h1{
text-align: center;
font-size: 30px;
}

table{
    background-color: white;
    height:250px;
    width: 500px;
    margin: 0 auto;
}

td{
    padding: 15px;
}